<form action="" class="addCourseForm" #addCourseForm="ngForm">
    <div class='addCourseWrapper'>
        <div class="addCourse_header">
            <h2>New Course </h2> 
        </div>

        <div class="addCourse_title addCourse_input">
            <label for="addCourse_title">Title: </label>
            <span *ngIf="courseTitle.errors?.required" class='addCourse_required'>*required </span>
        </div>
        <input id="addCourse_title" name="courseTitle" required  minlength="4"  maxlength="50" placeholder="Text input"  type="text" #courseTitle="ngModel" [(ngModel)]=newCourseItem.name/>

        <div class="addCourse_description addCourse_input">
            <label for="addCourse_descript">Description: </label>
            <span *ngIf="courseDescription.errors?.required" class='addCourse_required'>*required</span>
        </div>
        <textarea required name="courseDescription" maxlength="500" placeholder="Add description" id="addCourse_descript" #courseDescription="ngModel"  [(ngModel)]= newCourseItem.description> </textarea>

        <div class="addCourse_duration addCourse_input">
            <label for="addCourse_duration">Duration: </label>
            <span *ngIf="courseDuration.errors?.required" class='addCourse_required'>*required</span>
        </div>

        <app-duration-control  #courseDuration="ngModel"  required [(ngModel)]=newCourseItem.length name="courseDuration"> </app-duration-control>

        <div class="addCourse_date addCourse_input">
            <label for="addCourse_date">Date: </label>
            <span *ngIf="courseDate.errors?.required" class='addCourse_required'>*required</span>
        </div>

        <app-date-control name="courseDate" required [(ngModel)]=newCourseItem.date name="courseDate" #courseDate="ngModel"></app-date-control>

        <div class="addCourse_authors addCourse_input">
            <label for="addCourse_authors">Authors: </label>
        </div>
        <input  placeholder="start typing" id="addCourse_authors" class="addCourse_authors_wrapper" />

        <div class="addCourse_Buttons_Wrapper">
            <button [disabled]="addCourseForm.invalid" routerLink="" type="submit" class="saveu_course_button" (click)="addNewCourseItem()" > SAVE </button>
            <button routerLink="" class="cansel_course_button">Cansel</button>
        </div>
    </div>
</form>
    
