@font-face {
    font-family: Sourcesanspro;
    src: url(../../../../../fonts//sourcesanspro.ttf);
}

* {
    padding: 0;
    margin: 0;
}
.course-items {
    font-family: Sourcesanspro;
    width: 100%;
    background-color: rgb(242, 243, 247);
    padding: 20px 0;
    .section_wrapper {
        position: relative;
        width: 90%;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        
        .course-item-inform {
            width: 80%;
            position: relative;
            padding-left: 10px;
            padding-bottom: 20px 0;
            .course-item-inform-header {
                font-size: 24px;
                font-weight: bold;
                padding: 25px 0 0 25px;
                .fa-star {
                    font-size: 14px;
                    color: rgb(241, 241, 23);
                }
            }
            .course-item-inform-text {
                font-weight: 14px;
                padding: 25px;
                line-height: 2;
            }
            .course-item-timeline-duration, .course-item-timeline-calendar {
                display: inline-block;
                margin: 20px;
            }
            .course-item-timeline {
                position: absolute;
                color: rgb(163, 162, 162);
                right:0;
                font-size: 13px;
                top: 0;
            }
        }
        .course-item-editBlock {
            position: absolute;
            display: flex;
            right: 1%;
            top: 50px;
            .course-item-edit, .course-item-delete {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0px 7px;
                background-color: #30b6dd;
                width: 80px;
                padding: 7px 5px;
                color: white;
                text-align: center;
                border-radius: 3px;
                font-size: 13px;
                cursor: pointer;
                border: 0;
            }
            .course-item-edit:hover,.course-item-delete:hover {
                background-color: #62d3f5;
            }
        }
    }

}