<section class="course-page-serchBlock">
    <div class="section_wrapper">
        <form class="course-page-form"> 
            <input #userValue class="course-page-search" type="text" placeholder="Text to search">
            <input (click)="getUserValue(userValue.value)" class="course-page-search-button" type="button" value="Search"> 
        </form>
        <button class="curse-add-button">
            <i class="fas fa-plus"></i>
            <div> Add course </div>
        </button>
    </div>
</section>
