@font-face {
    font-family: Sourcesanspro;
    src: url(../../../../fonts/sourcesanspro.ttf);
  }
.course-page-footer {
    font-family: Sourcesanspro;
    text-align: right;
    width: 100%;
    background-color: rgb(65, 68, 82);
    .footer-wrapper {
        width: 90%;
        margin: 0 auto;
        .course-page-footer-rights {
            display: inline-block;
            margin: 20px 0;
            color: rgb(187, 185, 185);
            font-size: 13px
        }
    }
}