<section class="editCourseForm">
    <div class='editCourseWrapper'>
        <div class="editCourse_header">
            <h2>Edit Course </h2> 
        </div>

        <div class="editCourse_title editCourse_input">
            <label for="editCourse_title">Title: </label>
            <span class='editCourse_required'>*required</span>
        </div>
        <input placeholder="Text input" id="editCourse_title" type="text" [(ngModel)]=dataCourse.name>

        <div class="editCourse_description editCourse_input">
            <label for="editCourse_descript">Description: </label>
            <span class='editCourse_required'>*required</span>
        </div>
        <textarea  placeholder="Add description" id="editCourse_descript" [(ngModel)]=dataCourse.description> </textarea>

        <div class="editCourse_duration editCourse_input">
            <label for="editCourse_duration">Duration: </label>
            <span class='editCourse_required'>*required</span>
        </div>

        <div class="editCourse_duration_wrapper">
            <input class="editCourse_duration_input" placeholder="minutes" id="editCourse_duration" type="text" [(ngModel)]=dataCourse.length>
            <div class="editCourse_duration_formated">{{dataCourse.length | courseDuration}}</div>
        </div>

        <div class="editCourse_date editCourse_input">
                <label for="editCourse_date">Date: </label>
                <span class='editCourse_required'>*required</span>
        </div>
        <input id="editCourse_date" type="text" [(ngModel)]=dataCourse.date>

        <div class="editCourse_authors editCourse_input">
            <label for="editCourse_authors">Authors: </label>
            <span class='editCourse_required'>*required</span>
        </div>
        <div class="editCourse_authors_wrapper" id="editCourse_authors"> 
            <div class="editCourse_authors_name" *ngFor="let item of dataCourse.authors">
                {{item.name}} {{item.lastName}} 
                <div class="editCourse_authors_delete"> ╳</div>
            </div>
        </div>

        <div class="editCourseButton">
            <button class="saveu_course_button" (click)=editCourseDate() routerLink=""> Save </button>
            <button class="cansel_course_button" routerLink="">  Cancel  </button>
        </div>
    </div>
</section>
    
