<section class="addCourseForm">
    <div class='addCourseWrapper'>
        <div class="addCourse_header">
            <h2>New Course </h2> 
        </div>

        <div class="addCourse_title addCourse_input">
            <label for="addCourse_title">Title: </label>
            <span class='addCourse_required'>*required</span>
        </div>
        <input placeholder="Text input" id="addCourse_title" type="text">

        <div class="addCourse_description addCourse_input">
            <label for="addCourse_descript">Description: </label>
            <span class='addCourse_required'>*required</span>
        </div>
        <textarea  placeholder="Add description" id="addCourse_descript"> </textarea>

        <div class="addCourse_duration addCourse_input">
            <label for="addCourse_duration">Duration: </label>
            <span class='addCourse_required'>*required</span>
        </div>
        <input placeholder="minutes" id="addCourse_duration" type="text">

        <div class="addCourse_date addCourse_input">
                <label for="addCourse_date">Date: </label>
                <span class='addCourse_required'>*required</span>
        </div>
        <input placeholder="mm-dd-yyyy" id="addCourse_date" type="text">

        <div class="addCourse_authors addCourse_input">
            <label for="addCourse_authors">Authors: </label>
            <span class='addCourse_required'>*required</span>
        </div>
        <input placeholder="start typing" id="addCourse_authors" type="text">

        <div class="addCourseButton">
            <button class="saveu_course_button">Save </button>
            <button class="cansel_course_button" routerLink="">  Cancel  </button>
        </div>
    </div>
</section>
    
