@font-face {
    font-family: Sourcesanspro;
    src: url(../../../assets/fonts/sourcesanspro.ttf);
  }

* {
    padding: 0;
    margin: 0;
    font-family: Sourcesanspro;
}

.editCourseForm {
    position: fixed;
    top: 20%;
    left: 35%;
    min-width: 600px;
    height: 60%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    .editCourseWrapper {
        margin: 5% auto;
        width: 90%;
    .editCourse_duration_wrapper {
        display: flex;
        .editCourse_duration_formated {
            padding: 10px;
            font-size: 13px;
        }
    }
    .editCourse_authors_wrapper {
        display: flex;
        border-radius: 3px;
        .editCourse_authors_name {
            margin-right: 5px;
            font-size: 11px;
            border-radius: 3px;
            border: solid 1px rgb(190, 189, 189);
            background-color: #e6e3e3;
            height: 20px;
            padding: 3px;
            text-align: center;
            display: flex;
            .editCourse_authors_delete {
                font-size: 9px;
                padding: 0 9px;
                cursor: pointer;
            }
            .editCourse_authors_delete:hover {
                color: indianred;
                font-weight: bold;
            }
        }
        
    }
        .editCourse_input {
            margin: 10px;
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
        .editCourse_required {
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.19px;
            color: rgb(165, 164, 164);
        }
        .editCourse_input+input, .editCourse_input+textarea, .editCourse_authors_wrapper, .editCourse_duration_input {
            padding: 10px;
            width: 40%;
            border-radius: 3px;
            border: solid 1px rgb(190, 189, 189);
            background-color: #ffffff;
        }
        .editCourse_authors_wrapper {
            width: 65%;
        }
        .editCourse_input::placeholder {
            color: rgb(165, 164, 164);
        }
        
        #editCourse_title, #editCourse_descript, .editCourse_description, .editCourse_title{
            width: 100%
        }
        .editCourseButton {
            margin: 15px;
            position: absolute;
            right: 0;
        }
        .editCourseButton button {
            width: 80px;
            height: 40px;
            border: none;
            border-radius: 3px;
            background-color: #9bc837;
            cursor: pointer;
            margin: 10px;
        }
        .editCourseButton button:hover{
            background-color: #c3ee66;
        }
    }
}
