@font-face {
    font-family: Oswald;
    src: url(../../../../assets/fonts/Oswald-Regular.ttf);
  }
  @font-face {
    font-family: Sourcesans;
    src: url(../../../../assets/fonts/sourcesansproextralight.ttf);
  }

.course_page_headerBlock {
    background-color: rgb(65, 68, 82);
    width: 100%;
    .header-wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        .header-container {
            display: flex;
            align-items: center;
            .course_page_header {
            display: flex;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.25px;
            }
            .course_page_header-logo  {
                background-image: url("../../../../assets/img/6A3E93C7-E6E3-44D3-AF02-5B7998D50EE7.svg");
                width: 45px;
                height: 36px;
                object-fit: contain;
                background-repeat: no-repeat;
                    .course_page_header-logo.far {
                    font-size: 35px;
                }
            }
        }
        .course_page_login i, .course_page_logoff i {
            margin-right: 5px;
        }
        .course_page_login, .course_page_logoff {
            font-family: Sourcesans;
            display: inline-block;
            margin: 20px;
            font-size: 14px;
            cursor: pointer;
        }
        .course_page_login a {
            text-decoration: none;
            color: white;
        }
        .course_page_login a:hover {
            color: yellow;
        }

    }
}
