<header class="course_page_headerBlock">
    <div class="header-wrapper">
        <div class="header-container"> 
                <div class="course_page_header-logo"> </div>
                <h1  class="course_page_header">VIDEO COURSE</h1>
        </div>
        <div>
            <div class="course_page_login">
                <i class="fas fa-user"></i>
                <a routerLink="courses/login">User login</a>
            </div>
            <div  class="course_page_logoff">
                <i class="fas fa-sign-out-alt"></i>
                <a>User login</a>
            </div>
        </div>
    </div>
</header>

